* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

body {
    background-color: #000000;
    margin: 25px 0;
}

#open_form {
    display: none;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 30px 50px 45px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    position: relative;
    top: 150px;
}

header {
    font-weight: 700;
    font-size: 29px;
    line-height: 2;
    margin: 50px 40px;
}

h3 {
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 30px;
}

form {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    font-size: 19px;
}

form > div:nth-child(2) {
    grid-column: 1 / 2;
}

form > div {
    display: flex;
    flex-direction: column;
}

input {
    width: 350px;
    height: 40px;
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    padding: 5px;
}

input:focus {
    border: none;
    outline: 1px solid blue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.error:focus {
        border: none;
        outline: 1px solid red;
    }

input:valid {
    border: none;
    outline: 1px solid green;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

button {
    background-color: #596D48;
    color: #FFFFFF;
    font-size: 25px;
    padding: 17px 65px;
    margin: 40px;
    border: 1px solid #739F4D;
    border-radius: 15px;
    transition: all 150ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #739F4D;
}

footer {
    font-size: 22px;
    margin: 0 40px 50px;
}

a {
    color: #739F4D;
    text-decoration: none;
}

a:hover {
    color: #3b5227;
}

.container {
    background-image: url(./colin-watts-C8e3LGjg3fc-unsplashcopy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: grid;
    grid-template-columns: 37% 63%;
}

.logo_icon {
    position: relative;
    top: 15px;
}

.form_container {
    background-color: #F1F2F3;
    animation-name: slideFromRigth;
        animation-duration: 1s;
}

.requirements {
    font-size: 15px;
    color: red;
    margin-top: 5px;
}

.error {
    border: none;
    outline: 1px solid red;
}
@keyframes slideFromRigth {
    0% { transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes slideFromBottom {
    0%{
        transform: translateY(100vw);
    }
    100%{
        transform: translateY(0);
    }
    
}

@media screen and (max-width:425px) {

    .container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        transition: height 1s;
    }

    .logo {
        transform: translateY(0);
        transition: transform .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .initial_animation {
        animation-name: slideFromBottom;
            animation-duration: 1s;
    }
    .animate {
        transform: translateY(100vh);
    }
    .hidden{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 0;

    }

    .hidden > p {
        text-align: center;
        
    }

    .carot_active {
        display: block;
        background-color: #000000;
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .carot_active:active {
        background-color: #FFFFFF;
        color: #000000;
    }

    .hide {
        display: none;
    }

    .shrink_container {
        z-index: 0;
    
        height: 200vh;
    }


    .form_container {
        height: 0;
        transition: height .5s;

    }

    .active_form{
        position: absolute;
        height: 1257px;
    }
    h1{
        margin-top: 5vh;
        width: 90vw;
        position: static;
        text-align: center;
    }
    #open_form {
        display: block;
        width: 85%;
    }

    
}